---
import Layout from "../layouts/Layout.astro";
import IconImage from "../../public/icon.png";
import { getCollection } from "astro:content";
import Card from "../components/Card.astro";

// Home Markdown
const HomeMarkdowns = await getCollection("home");
const HomeMarkdown = HomeMarkdowns[0];
const { Content } = await HomeMarkdown.render();

// Projects Markdown
const ProjectMarkdowns = await getCollection("projects");
---

<Layout title="Home">
  <main class="items-center justify-between gap-[200px] lg:flex">
    <div class="InfoContainer">
      <div class="InfoIcon">
        <img src={IconImage.src} width="400" alt={"my cool icon"} />
        <div class="SocialMediaButtons">
          <div class="SocialMediaIcon"></div>
          <div class="SocialMediaIcon"></div>
          <div class="SocialMediaIcon"></div>
          <div class="SocialMediaIcon"></div>
          <div class="SocialMediaIcon"></div>
        </div>
      </div>

      <div class="InfoText">
        <h2>{HomeMarkdown.data.title}</h2>
        <p>{HomeMarkdown.body}</p>
      </div>
    </div>

    <div class="flex w-full flex-col">
      {
        ProjectMarkdowns.map(project => (
          <Card
            title={project.data.title}
            body={project.data.description}
            href={project.data.href}
          />
        ))
      }
    </div>
  </main>
</Layout>

<style>
  .InfoContainer {
    @apply flex h-full w-full flex-row gap-[40px];
  }

  .InfoIcon {
    @apply flex flex-col;
  }
  .InfoText {
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: left;
  }
  .InfoText > h2 {
    @apply font-bold;
    font-size: 36px;
  }
  .InfoText > p {
    @apply w-[355px] font-normal;
    font-size: 16px;
  }

  .SocialMediaButtons {
    @apply flex flex-row justify-center gap-[24px];
  }

  .SocialMediaIcon {
    @apply h-[32px] w-[32px] border bg-[white];
  }
</style>
